<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>830439890002-gth1d8b1t47j09e4tkr8v1dl7kp62bho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.830439890002-gth1d8b1t47j09e4tkr8v1dl7kp62bho</string>
	<key>API_KEY</key>
	<string>AIzaSyCW5P1BSok_QFuq5ZN0wgbI815sPfN5dlo</string>
	<key>GCM_SENDER_ID</key>
	<string>830439890002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab9auth</string>
	<key>PROJECT_ID</key>
	<string>lab-9-1f9bb</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-9-1f9bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830439890002:ios:d1536f54dcf830ef98d38b</string>
</dict>
</plist>